		html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
a {
	color: white;
	text-decoration: none;
}
body{
	font-family: Roboto; 
	color: white; 
	font-size:16px;
	margin: 0;
	background-color: #ECECEA;
	width: 100vw;
}
#wrapper{
	overflow: hidden;
}
		header{
		background-color: #75afad;
		width: 100vw;
		height: 8vh;
		min-height: 50px;
		position: fixed;
		z-index: 5;
		}
		#sepbar{
		background-color: #75afad;
		width: 100vw;
		height: 7.9vh;
		}
		nav{
		background-color: #75afad;
		width: 100vw;
		height: 8vh;
		}
		#logo{
		margin-left: 3.7vw; 
		margin-top: .8vh;
		}
		#name{
		position: absolute; 
		font-weight: 100;
		font-size: 26px;
		padding: 1.6vh .7vw 1.6vh .7vw;
		left: 6.5vw;
		top: 0;
		}
		#search{
		width: 47vw; 
		font-family: Roboto; 
		font-size:16px;
		padding:1vh 4.3vw 1vh 1vw; 
		color: #585858; 
		position: absolute; 
		left: 18.3vw; 
		top: 1vh; 
		border: none; 
		border-radius: 10px;
		background-image: url(botonlupa.png);
		background-size: 35px 35px; 
		background-repeat: no-repeat; 
		background-position: right;
		}
		.login{
		position: absolute;
		top: 30%;
		left: 80vw;
		display:block;
		cursor: pointer;
		}
		#menu{
		margin-left:3.6vw;
		}
		.sc{
		position: relative;
		top: -2vh;
		}
		.categories{
		font-family: Roboto; 
		color: white; 
		font-size:16px;
		background-color: transparent;
		border: none;
		}
		.categories option{
		background-color: #75afad
		}
		.sep{
		padding-right: 8.5vw;
		}
		.separate{
		padding-right: 25vw;
		}
		li{
		padding: 3vh 2.2vw 3vh 0px;
		float: left;
		}
		#features{
		max-height: 500px;
		margin: 0 auto;
		}
		#features img{
		max-height: 68vh;
		width: 100%;
		}
		.legend h1{
		margin: 0 auto;
		position: absolute;
		top: 25vh;
		margin: 0 auto;
		font-weight: 100;
		font-size: 4vw;
		display: block;
		}
		#rentnow{
		color: gray;
		font-size: 42px;
		font-weight: 100;
		margin: 1.8vw;
		display: block;
		}
		#logo img{
		height: 100%;
		width: 100%;
		}
		#products{
		margin-left: 1.1vw;
		margin-right: 1.1vw;
		height: 45vh;
		}
		.box{
		width: 16.8vw;
		height: 40vh;
		background-color: #FFFFFF;
		margin-left: 1.1vw;
		margin-right: 1.1vw;
		margin-bottom: 30px;
		border: .5px solid rgba(0,0,0,.1);
		border-radius: 10px;
		float: left;
		}
		.box img{
		border-bottom: .5px solid rgba(0,0,0,.2);
		height: 80%;
		width: 100%;
		}
		.box p{
		color: black;
		font-size: 1.8vw		;
		font-weight: 100;
		padding: 1vh 1.8vw 1vh 1.8vw;
		margin: 0;
		}
		#bottom{
		position: relative;
		}
		footer{
			float: bottom;
			position: relative;
			top: 0;
			padding: 0;
		}
		#login-title{
		text-align: center;
		font-weight: 100;
		color: gray;
		font-size: 38px;
		padding: 20px;
		}
		#login-box{
		height: 60vh;
		width: 50vw;
		background-color: white;
		border-radius: 10px;
		border: .5px solid rgba(0,0,0,.1);
		margin: 0 auto;
		}
		#register-box{
		height: 70vh;
		width: 50vw;
		background-color: white;
		border-radius: 10px;
		border: .5px solid rgba(0,0,0,.1);
		margin: 0 auto;
		margin-bottom: 10vh;
		}
		#rentout-box{
		height: 110vh;
		width: 50vw;
		background-color: white;
		border-radius: 10px;
		border: .5px solid rgba(0,0,0,.1);
		margin: 0 auto;
		margin-bottom: 10vh;
		}
		.input-box{
		width: 30vw;
		border-radius: 10px;
		border: .5px solid rgba(0,0,0,.2);
		font-size: 16px;
		padding: 2vh 2vw;
		color: gray;
		}
		.input-box2{
		width: 15vw;
		border-radius: 10px;
		border: .5px solid rgba(0,0,0,.2);
		font-size: 16px;
		padding: 2vh 2vw;
		color: gray;
		background: white;
		}
		.input-box3{
		width: 40vw;
		border-radius: 10px;
		border: .5px solid rgba(0,0,0,.2);
		font-size: 16px;
		padding: 2vh 2vw;
		padding-bottom: 10vh;
		color: gray;
		background: white;
		}
		::placeholder {
  	 	 color: lightgray;
		}
		.center{
		margin: 0 auto;
		text-align:center;
		margin-top: 7%;
		}
		.center2{
		margin: 4% 5%;
		margin-bottom: 0;
		display: inline-block;
		}
		.center3{
		margin-left: 5% ;
		margin-top: 10%;
		display: block;
		}
		.center4{
		margin: 4% 5%;
		margin-bottom: 0;
		display: block;
		}
		.submit{
		font-family: roboto;
		width: 150px;
		border-radius: 10px;
		border: none;
		font-size: 18px;
		padding: 2vh 2vw;
		background-color: #D9853B;
		color: #ECECEA;
		font-weight: 100;
		}
		.register-button{
		font-weight: 100;
		color: gray;
		font-size: 20px;
		font-weight: 100;
		
		}
		label{
		font-weight: 100;
		color: gray;
		font-size: 14px;
		font-weight: 100;
		
		}
		.register{
			cursor: pointer;
		}
		#register{
			display: none;
		}
		#rentout{
			display: none;
		}
		.home{
			cursor: pointer;
		}
		.files{
		}
		.files li {
		float: left;
		}
		.files li a{
		color: gray;
		font-size: 12px;
		
		}
		.register{
			cursor: pointer;
		}
		.rentout{
			cursor: pointer;
		}
		#login{
			display: none;
		}
		@media(max-width: 1160px){
			#name, nav{
				display: none;
			}
			#login-box{
				width: 80vw;
			}
			#register-box{
				width: 80vw;
				height: 140vh;
			}
			#rentout-box{
				width: 80vw;
				height: 140vh;
			}

			.input-box{
				width: 60vw;
			}
			.input-box2{
				width: 50vw;
				margin: 0;
			}
			.input-box3{
				width: 50vw;
				margin: 0;
			}
			.center{
				margin-top: 5vh;
			}
			.center2{
				text-align: center;
				display: block;
				margin-top: 3vh;
			}
			.center3{
				text-align: center;
				display: block;
				margin-top: 3vh;
				margin-bottom: 3vh;
			}
			.center4{
				text-align: center;
				display: block;
				margin-top: 3vh;
			}

		}
		