		ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		}
		a {
		color: white;
		text-decoration: none;
		}
		body{
		font-family: Roboto; 
		color: white; 
		font-size:16px;
		margin: 0;
		background-color: #ECECEA;
		width: 100vw;
		}
		#wrapper{
		overflow: hidden;
		min-height: 900px;
		}
		header{
		position: relative;
		background-color: #75afad;
		width: 100vw;
		height: 8vh;
		min-height: 50px;
		position: fixed;
		z-index: 3;
		display:block;
		}
		nav{
		background-color: #75afad;
		width: 100vw;
		height: 8vh;
		position: absolute;
		top: 8vh;
		}
		#logo{
		margin-left: 3.7vw; 
		margin-top: .8vh;
		display:block;
		}
		#name{
		position: absolute; 
		font-weight: 100;
		font-size: 26px;
		padding: 1.6vh .7vw 1.6vh .7vw;
		display:block;
		left: 6.5vw;
		top: 0;
		}
		#search{
		width: 47vw; 
		font-family: Roboto; 
		font-size:16px;
		padding:1vh 4.3vw 1vh 1vw; 
		color: #585858; 
		position: absolute; 
		left: 18.3vw; 
		top: 1vh; 
		border: none; 
		border-radius: 10px;
		background-image: url(botonlupa.png); 
		background-size: 35px 35px; 
		background-repeat: no-repeat; 
		background-position: right;
		display:block;
		}
		#contact{
		position: absolute;
		top: 30%;
		left: 80vw;
		display:block;
		}
		#menu{
		margin-left:3.6vw;
		}
		.sc{
		position: relative;
		top: -2vh;
		}
		.categories{
		font-family: Roboto; 
		color: white; 
		font-size:16px;
		background-color: transparent;
		border: none;
		}
		option{
		background-color: #75afad
		}
		.sep{
		padding-right: 8.5vw;
		}
		.separate{
		padding-right: 30vw;
		}
		li{
		padding: 3vh 2.2vw 3vh 0px;
		float: left;
		}
		#features{
		height: 68vh;
		width: 100vw;
		}
		#features img{
		height: 100%;
		width: 100%;
		}
		.legend{
		position: absolute;
		top: 25vh;
		left: 25vw;
		font-weight: 100;
		font-size: 54px;
		display: block;
		}
		#rentnow{
		color: gray;
		font-size: 42px;
		font-weight: 100;
		margin: 1.8vw;
		display: block;
		}
		#logo img{
		height: 100%;
		width: 100%;
		}
		.box{
		width: 16.8vw;
		height: 40vh;
		background-color: #FFFFFF;
		margin-left: 2.2vw;
		margin-bottom: 30px;
		border: .5px solid rgba(0,0,0,.1);
		border-radius: 10px;
		float: left;
		display:block;
		}
		.box img{
		border-bottom: .5px solid rgba(0,0,0,.2);
		height: 80%;
		width: 100%;
		}
		.box p{
		color: black;
		font-size: 1.8vw		;
		font-weight: 100;
		padding: 1vh 1.8vw 1vh 1.8vw;
		margin: 0;
		}
		#bottom{
		position: absolute;
		top: 450px;
		}
		#login-title{
		text-align: center;
		font-weight: 100;
		color: gray;
		font-size: 3vw;
		font-weight: 100;
		margin-top: 15vh;
		}
		#login{
		position: absolute;
		top: 25vh;
		left: 25vw;
		height: 60vh;
		width: 50vw;
		background-color: white;
		border-radius: 10px;
		border: .5px solid rgba(0,0,0,.1);
		}
		.user{
		position: absolute;
		top: 10vh;
		left: 15vw;
		width: 20vw;
		height: 5vh;
		border-radius: 10px;
		border: .5px solid rgba(0,0,0,.2);
		font-size: 1.2vw;
		padding: 1vh 1vw;
		}
		.password{
		position: absolute;
		top: 20vh;
		left: 15vw;
		width: 20vw;
		height: 5vh;
		border-radius: 10px;
		border: .5px solid rgba(0,0,0,.2);
		font-size: 1.2vw;
		padding: 1vh 1vw;
		}
		.submit{
		position: absolute;
		font-family: roboto;
		top: 35vh;
		left: 20vw;
		width: 10vw;
		height: 5vh;
		border-radius: 10px;
		border: none;
		font-size: 1.4vw;
		padding: 1vh 1vw;
		background-color: #D9853B;
		color: #ECECEA;
		font-weight: 100;
		}
		.register{
		text-align: center;
		font-weight: 100;
		color: gray;
		font-size: 1.8vw;
		font-weight: 100;
		margin-top: 45vh;
		}
		.files{
		position: absolute;
		bottom: -10vh;
		left: 5vh;
		}
		.files li a{
		color: gray;
		}
		